build
src/build
*.json
*.run
idris-dump/*
stg/*
.extstg-trace
haskell/.stack-root
haskell/.stack-work
stack.yaml.lock
TODO
**/latest-call-graph-summary
**/latest-call-graph.tsv
**/latest.whole-program-path.tsv
.gc-datalog-facts
test/failures
